.categories-container {
	// padding: 111px 135px 72px 135px;

	.categories-content {
		width: 100%;
		// height: 428px;
		padding-top: 70px;
		margin-bottom: 30px;
		padding-left: 135px;
		padding-right: 135px;
	}
	.categories-title {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 700;
		font-size: 40px;
		line-height: 135%;
		color: #1e232c;
		// padding: 10px;
	}
	.categories-list {
		margin-top: 50px;
	}
}
@media (min-width: 460px ) and (max-width: 768px){
	.categories-container {
		// padding: 111px 135px 72px 135px;
	
		.categories-content {
			width: 100%;
			// height: 428px;
			padding-top: 70px;
			margin-bottom: 30px;
			padding-left: 135px;
			padding-right: 135px;
		}
		.categories-title {
			font-family: "Poppins";
			font-style: normal;
			font-weight: 700;
			font-size: 25px;
			line-height: 135%;
			color: #1e232c;
			// padding: 10px;
		}
		.categories-list {
			margin-top: 50px;
		}
	}
}