.slide-container {
	height: 548px;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero-slide-main-text {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	line-height: 90px;
	/* identical to box height */

	text-align: center;

	color: #ffffff;

	text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.8);
}

.hero-slide-text {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
// margin-bottom: 9px;
	color: #ffffff;
}

@media (min-width: 768px) and (max-width: 1090px){
	.slide-container {
		height: 548px;
	}
	
	.swiper {
		width: 100%;
		height: 100%;
	}
	
	.swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #fff;
	
		/* Center slide text vertically */
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.swiper-slide img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	
	.hero-slide-main-text {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 700;
		font-size: 50px;
		line-height: 70px;
		/* identical to box height */
	
		text-align: center;
	
		color: #ffffff;
	
		text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.8);
	}
	
	.hero-slide-text {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 30px;
		text-align: center;
	
		color: #ffffff;
	}
}
@media (min-width: 460px ) and (max-width: 768px){
	.slide-container {
		height: 548px;
	}
	
	.swiper {
		width: 100%;
		height: 100%;
	}
	
	.swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #fff;
	
		/* Center slide text vertically */
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.swiper-slide img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		background-size: cover;
	}
	
	.hero-slide-main-text {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 700;
		font-size: 40px;
		line-height: 60px;
		/* identical to box height */
	
		text-align: center;
	
		color: #ffffff;
	
		text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.8);
	}
	
	.hero-slide-text {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 25px;
		text-align: center;
	
		color: #ffffff;
	}
}