.footer-container {
	max-width: 1440px;
	// height: 484px;
	background: #f6f7fa;
	margin-top: 130px;

	.content-area {
		max-width: 1200px;
		padding: 10px;

		.subscription-container {
			width: 100%;
			position: relative;

			.subscription {
				max-width: 1110px;
				position: absolute;
				top: -80px;
			}
		}

		.normal-text {
			font-family: "Poppins";
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 24px;
			/* or 171% */

			color: #1b1d21;

			mix-blend-mode: normal;
			opacity: 0.6;
		}

		.sub-header {
			font-family: "Poppins";
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 27px;
			/* identical to box height */

			color: #333333;
		}

		.foter-page-link {
			margin: 14px 0px;

			font-family: "Poppins";
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 21px;
			/* identical to box height */

			color: #333333;
		}
	}
}
